* {
    margin: 0px;
}

.div1 {
    width: 1520px;
    height: 874px;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;


}

.div1text1 {
    padding-top: 58px;
}

.div1text {
    width: 1120px;
    height: 72px;
    background-color: aqua;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.div1text a {
    font-weight: 500;
    font-size: 48px;
    color: white;

}

.home {
    display: flex;
    align-items: center;
    gap: 33px;
}

.home p,
.home a {
    color: white;
    font-weight: 400;
    font-size: 16px;

}

.home p {
    margin-right: 20px;
}

.div1 h1 {
    font-weight: 800;
    font-size: 90px;
    color: white;
    text-align: center;
    margin-top: 222px;
}

.div1icon {
    margin-left: 340px;
    margin-top: 104px;
}

.div1icon1 {
    width: 330px;
    height: 84px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #FFFFFFB2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div1icon img {
    width: 24px;
    height: 24px;
}

.div1icon1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 52px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 24px;
    background-color: #177BA5;
    border: none;
    color: white;
    gap: 11px;
}

.hotel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.hotel1 p {
    font-weight: 500;
    font-size: 24px;

}

.div1icon2 {
    width: 942.343017578125px;
    height: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #FFFFFFB2;
    box-shadow: 0px 10px 50px black;

}

.div1icon3 {
    width: 384.77349853515625px;
    height: 139px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #ffffffcb;
}
.from p{
font-weight: 500;
font-size: 18px;
color: #00000080;
margin-bottom: 12px;
}
.from h3{
font-weight: 500;
font-size: 24px;
color: #292D32;
}
.div1icon3 img{
    width: 40px;
height: 40px;
border-radius: 63px;
margin: 0px 10px;

}

.div2{
    width: 1520px;
height: 1098px;
margin: auto;
background-color: aqua;
margin-top: 100px;
}
.pesh{
    text-align: center;
font-weight: 600;
font-size: 48px;
margin-bottom: 81px;

}
.div2katalogs{
    width: 1520px;
height: 962px;

gap: 24px;
background-color: gold;
}
.div2kat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.div2katalog1{
    width: 357px;
height: 469px;
border-radius: 50px;
background-color: white;
box-shadow: 10px 10px  10px #00000026;
margin-bottom: 20px;
}
.miami{
font-weight: 600;
font-size: 24px;
text-align: center;
padding-top: 32px;
padding-bottom: 24px;

}
.div2katalog1 img{
    width: 293px;
height: 239px;
border-radius: 40px;
margin: 0px 32px;
margin-bottom: 24px;

}
.div2text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
.div2text p{
font-weight: 500;
font-size: 14px;
color: #00000080;
}
.green{
    background-color: #D6EDEB;
    border-radius: 40px;
    padding: 3px 10px;
    color: #2D8985;
}
.red{
    background-color: #FCDDEC;
    color: #F178B6;
    border-radius: 40px;
    padding: 3px 10px;
}
.div2narh{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.div2narh p{
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 24px;

}
.div2narh span{font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 18px;
color: #00000080;


}
.div2narh button{
    width: 104.44999694824219px;
height: 37px;
border-radius: 40px;
background-color: #177BA5;
color: white;
font-weight: 500;
font-size: 14px;
border: none;
}