* {
    margin: 0px;
}

.div1 {
    width: 1520px;
    height: 874px;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;


}

.div1text1 {
    padding-top: 58px;
}

.div1text {
    width: 1120px;
    height: 72px;
    background-color: aqua;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.div1text a {
    font-weight: 500;
    font-size: 48px;
    color: white;

}

.home {
    display: flex;
    align-items: center;
    gap: 33px;
}

.home p,
.home a {
    color: white;
    font-weight: 400;
    font-size: 16px;

}

.home p {
    margin-right: 20px;
}

.div1 h1 {
    font-weight: 800;
    font-size: 90px;
    color: white;
    text-align: center;
    margin-top: 222px;
}

.div1icon {
    margin-left: 340px;
    margin-top: 104px;
}

.div1icon1 {
    width: 330px;
    height: 84px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #FFFFFFB2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div1icon img {
    width: 24px;
    height: 24px;
}

.div1icon1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 52px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 24px;
    background-color: #177BA5;
    border: none;
    color: white;
    gap: 11px;
}

.hotel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.hotel1 p {
    font-weight: 500;
    font-size: 24px;

}

.div1icon2 {
    width: 942.343017578125px;
    height: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #FFFFFFB2;
    box-shadow: 0px 10px 50px black;

}

.div1icon3 {
    width: 384.77349853515625px;
    height: 139px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #ffffffcb;
}
.from p{
font-weight: 500;
font-size: 18px;
color: #00000080;
margin-bottom: 12px;
}
.from h3{
font-weight: 500;
font-size: 24px;
color: #292D32;
}
.div1icon3 img{
    width: 40px;
height: 40px;
border-radius: 63px;
margin: 0px 10px;

}

.div2{
    width: 1520px;
height: 1098px;
margin: auto;
background-color: aqua;
margin-top: 100px;
}
.pesh{
    text-align: center;
font-weight: 600;
font-size: 48px;
margin-bottom: 81px;

}
.div2katalogs{
    width: 1520px;
height: 962px;

gap: 24px;
background-color: gold;
}
.div2kat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.div2katalog1{
    width: 357px;
height: 469px;
border-radius: 50px;
background-color: white;
box-shadow: 10px 10px  10px #00000026;
margin-bottom: 20px;
}
.miami{
font-weight: 600;
font-size: 24px;
text-align: center;
padding-top: 32px;
padding-bottom: 24px;

}
.div2katalog1 img{
    width: 293px;
height: 239px;
border-radius: 40px;
margin: 0px 32px;
margin-bottom: 24px;

}
.div2text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
.div2text p{
font-weight: 500;
font-size: 14px;
color: #00000080;
}
.green{
    background-color: #D6EDEB;
    border-radius: 40px;
    padding: 3px 10px;
    color: #2D8985;
}
.red{
    background-color: #FCDDEC;
    color: #F178B6;
    border-radius: 40px;
    padding: 3px 10px;
}
.div2narh{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.div2narh p{
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 24px;

}
.div2narh span{font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 18px;
color: #00000080;


}
.div2narh button{
    width: 104.44999694824219px;
height: 37px;
border-radius: 40px;
background-color: #177BA5;
color: white;
font-weight: 500;
font-size: 14px;
border: none;
}
.div3{
    width: 1520px;
   height: 615px;
   background-color: #F4F2EE;
   display: flex;
   align-items: center;
   gap: 80px;
}
.div3 img{
    width: 615px;
height: 615px;
background-color: red;
}
.div3text{
    width: 636px;
   height: 333px;
   background-color: gold;

}
.div3text h2{
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 48px;
color: #177BA5;
margin-bottom: 32px;

}
.div3text p{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 24px;
color: #292D32;
margin-bottom: 32px;
}
.div3text button{
    width: 230px;
height: 53px;
border-radius: 40px;
background-color: #177BA5;
color: white;
border:none;
margin-top: 20px;
}

.div4{
    width: 1126px;
height: 353px;
background-color: salmon;
display: flex;
margin: 100px auto;
gap: 32px;

}
.div4text{
    width: 423px;
 height: 353px;
background-color: gold;
}
.div4text h2{
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 48px;
margin-bottom: 25px;
}
.div4text p{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 24px;
margin-bottom: 25px;

}
.div4buts{
    width: 100px;
height: 50px;
    display: flex;
    background-color: red;
    margin-left: 323px;
}
.div4buts img{
    width: 50px;
height: 50px;

}
.div4pic{
width: 60%;
height: 353px;
overflow: auto;
display: flex;
background-color: rgb(129, 117, 49);
gap: 60px;
}
.div4pic2{
min-width: 32%;
height: 354px;
background-image: url(./8bf0aeaadeff652bf36e29a19b38df05d99404e4.png);
border-radius: 50px;
background-repeat: no-repeat;
background-size: 100% 100%;
display: flex;
align-items: end;
}
.satoroni{
    background-image: url(./804d98472b7a6cca3d25738272ea77aa7c556009.png);
}
.iv4picred{
 background-image: url(./fc819fa3929b0b1868db8a789792793264ec7932\ \(1\).png);

}
.div4ten{
    width: 217px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.94);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 24px;
color: white;
display: flex;
justify-content: center;
align-items: center;

}
.div5{
    margin: auto;
    width: 1520px;
height: 880px;
background-color: green;

}
.div5 h2{
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 48px;
text-align: center;
margin-bottom: 80px;
}
.div5lbog{
    width: 1520px;
height: 744px;
background-color: aqua;

}
.div5blog2{
    width: 1520px;
height: 357px;
background-color: #F178B6;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
}
.div5blog2 img{
    width: 548px;
height: 357px;
border-radius: 50px;

}
.div5blog3{
    width: 538px;
height: 279px;
background-color: red;
}
.div5blog3 h3{
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 38px;
margin-bottom: 20px;
}
.div5blog3 p{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 24px;
margin-bottom: 20px;
}
.div5pres{
    display: flex;
}
.div5pres img{
 width: 24px;
height: 24px;
}
.div5pres p{
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;

}
.div5blog2revers{
    flex-direction: row-reverse;
}
.div6{
    width: 1113px;
height: 496.368408203125px;
background-color: bisque;
margin: auto;
}
.div6 h2{
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 48px;
text-align: center;
}
.div6blog{
    width: 1113px;
height: 360.368408203125px;
gap: 32px;
background-color: gold;
margin-top: 64px;
display: flex;
align-items: center;
}
.div6text{
    width: 616px;
height:500px;
display: flex;
align-items: center;

}
.div6pic{
    min-width: 616px;
height: 245px;
border-radius: 50px;
background-color: #FFFFFF;
text-align: center;
}
.div6pic img{
    
height: 83px;
border-radius: 50px;
margin-top: -50px;
margin-bottom: 23px;
}
.div6pic h3{
    margin-bottom: 31px;
    font-family: Poppins;
font-weight: 800;
font-style: Medium;
font-size: 20px;
}
.div6pic p{
    font-family: Poppins;
font-weight: 500;
font-style: Regular;
font-size: 24px;

}

